@import "tailwindcss";

@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Bricolage Grotesque", serif;

  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-000: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --night-gradient: linear-gradient(
    to right,
    var(--blue-500) 0,
    var(--blue-700) 100%
  );

  /* === TEXT PRESETS === */
  --text-preset-1-size: 6rem;
  --text-preset-1-height: 100%;
  --text-preset-1-spacing: -2px;
  --text-preset-1-weight: 600; /* SemiBold */
  --text-preset-1-style: italic;

  --text-preset-2-size: 3.25rem;
  --text-preset-2-height: 120%;
  --text-preset-2-weight: 700; /* Bold */

  --text-preset-3-size: 2rem;
  --text-preset-3-height: 100%;
  --text-preset-3-weight: 300; /* Light */

  --text-preset-4-size: 1.75rem;
  --text-preset-4-height: 120%;
  --text-preset-4-weight: 700; /* Bold */

  --text-preset-5-size: 1.25rem;
  --text-preset-5-height: 120%;

  --text-preset-6-size: 1.125rem;
  --text-preset-6-height: 120%;
  --text-preset-6-weight: 500; /* Medium */

  --text-preset-7-size: 1rem;
  --text-preset-7-height: 120%;
  --text-preset-7-weight: 500; /* Medium */

  --text-preset-8-size: 0.875rem;
  --text-preset-8-height: 120%;
  --text-preset-8-weight: 500; /* Medium */

  --text-base: 1.125rem;

  --breakpoint-xl: 90rem;
}

@layer base {
  body {
    font-size: var(--text-base); /* 18px */
    font-family: var(--font-sans);
    line-height: 1.5;
  }
}

@utility text-preset-1 {
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-height);
  letter-spacing: var(--text-preset-1-spacing);
  font-weight: var(--text-preset-1-weight);
  font-style: var(--text-preset-1-style);
  font-family: var(--font-sans);
}

@utility text-preset-2 {
  font-size: var(--text-preset-2-size);
  line-height: var(--text-preset-2-height);
  font-weight: var(--text-preset-2-weight);
  font-family: var(--font-serif);
}

@utility text-preset-3 {
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-height);
  font-weight: var(--text-preset-3-weight);
  font-family: var(--font-sans);
}

@utility text-preset-4 {
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-height);
  font-weight: var(--text-preset-4-weight);
  font-family: var(--font-sans);
}

@utility text-preset-5 {
  font-size: var(--text-preset-5-size);
  line-height: var(--text-preset-5-height);
  font-family: var(--font-sans);
}

@utility text-preset-6 {
  font-size: var(--text-preset-6-size);
  line-height: var(--text-preset-6-height);
  font-weight: var(--text-preset-6-weight);
  font-family: var(--font-sans);
}

@utility text-preset-7 {
  font-size: var(--text-preset-7-size);
  line-height: var(--text-preset-7-height);
  font-weight: var(--text-preset-7-weight);
  font-family: var(--font-sans);
}

@utility text-preset-8 {
  font-size: var(--text-preset-8-size);
  line-height: var(--text-preset-8-height);
  font-weight: var(--text-preset-8-weight);
  font-family: var(--font-sans);
}

@layer components {
  .layout {
    @apply flex flex-col items-center gap-12 p-4 md:p-6 xl:px-28 xl:py-12 bg-(--neutral-900) min-h-screen text-white;
  }

  /* HEADER */
  .dropdown {
    @apply bg-(--neutral-800) py-2 px-2.5 rounded-md text-preset-8 sm:text-preset-7 flex items-center gap-2 capitalize;
  }

  /* BUTTON */
  .primary_btn {
    @apply bg-(--blue-500) rounded-xl p-4 text-preset-5 font-medium;
  }

  /* SEARCH BAR */
  .searchBar {
    @apply bg-(--neutral-800) text-(--neutral-200) w-full rounded-xl py-4 pl-[3.75rem];
    background-image: url("./assets/images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 20px;
  }

  /* WEATHER INFO */
  .weather_info {
    @apply w-full bg-no-repeat rounded-[1.25rem] flex flex-col md:flex-row gap-4 items-center justify-between px-6 py-10 md:py-[5.125rem];
    background-image: var(--night-gradient);
  }
  .location_info {
    @apply space-y-3 text-center md:text-left;
  }
  .temp_container {
    @apply flex items-center;
  }
  .temp_icon {
    @apply h-auto w-[7.5rem];
  }
  .temp {
    @apply text-preset-1;
  }

  /* WAETHER DETAILS */
  .weather_details {
    @apply grid grid-cols-2 md:grid-cols-4 gap-4;
  }
  .detail {
    @apply bg-(--neutral-800) outline-(--neutral-600) outline-1 p-5 rounded-xl space-y-6;
  }

  /* DAILY FORECAST */
  .daily_icon {
    @apply w-20 h-auto;
  }
  .forecast {
    @apply bg-(--neutral-800) outline-(--neutral-600) outline-1 px-2.5 py-4 rounded-xl space-y-6 flex flex-col items-center;
  }
  .temp_range {
    @apply flex justify-between text-preset-7 w-full;
  }

  /* HOURLY FORECAST */
  .days_dropdown {
    @apply flex items-center text-preset-7 bg-(--neutral-600) rounded-lg py-2 px-4 gap-3;
  }

  .hour_card {
    @apply bg-(--neutral-700) flex gap-2 justify-between items-center py-3 px-2.5 rounded-lg outline-(--neutral-600) outline-1;
  }

  .hour_icon {
    @apply w-10 h-auto;
  }
}
