@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "Bricolage Grotesque", serif;

  --day-bg-start: #e0f7fa;
  --day-bg-end: #fafafa;
  --night-bg-start: #03012d;
  --night-bg-end: hsl(243, 27%, 20%);

  --neutral-900: rgb(3, 1, 45);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-000: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-200: hsl(210, 100%, 70%);
  --blue-300: hsl(210, 100%, 47%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --day-gradient: linear-gradient(
    to right,
    var(--blue-200) 0 50%,
    var(--blue-300) 100%
  );

  --night-gradient: linear-gradient(
    to right,
    var(--blue-500) 0 50%,
    var(--blue-700) 100%
  );

  /* === TEXT PRESETS === */
  --text-preset-1-size: 6rem;
  --text-preset-1-height: 100%;
  --text-preset-1-spacing: -2px;
  --text-preset-1-weight: 600; /* SemiBold */
  --text-preset-1-style: italic;

  --text-preset-2-size: 3.25rem;
  --text-preset-2-height: 120%;
  --text-preset-2-weight: 700; /* Bold */

  --text-preset-3-size: 2rem;
  --text-preset-3-height: 100%;
  --text-preset-3-weight: 300; /* Light */

  --text-preset-4-size: 1.75rem;
  --text-preset-4-height: 120%;
  --text-preset-4-weight: 700; /* Bold */

  --text-preset-5-size: 1.25rem;
  --text-preset-5-height: 120%;

  --text-preset-6-size: 1.125rem;
  --text-preset-6-height: 120%;
  --text-preset-6-weight: 500; /* Medium */

  --text-preset-7-size: 1rem;
  --text-preset-7-height: 120%;
  --text-preset-7-weight: 500; /* Medium */

  --text-preset-8-size: 0.875rem;
  --text-preset-8-height: 120%;
  --text-preset-8-weight: 500; /* Medium */

  --text-base: 1.125rem;

  --breakpoint-xl: 90rem;

  --animate-nightGradient: 15s ease infinite;
  --animate-dayGradient: 15s ease infinite @keyframes dayGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes nightGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

:root {
  scrollbar-color: var(--neutral-900) var(--neutral-600);
}

@layer base {
  body {
    @apply fill-white not-dark:fill-(--neutral-900);
    font-size: var(--text-base); /* 18px */
    font-family: var(--font-sans);
    line-height: 1.5;
  }

  button {
    cursor: pointer;
  }
}

@utility text-preset-1 {
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-height);
  letter-spacing: var(--text-preset-1-spacing);
  font-weight: var(--text-preset-1-weight);
  font-style: var(--text-preset-1-style);
  font-family: var(--font-sans);
}

@utility text-preset-2 {
  font-size: var(--text-preset-2-size);
  line-height: var(--text-preset-2-height);
  font-weight: var(--text-preset-2-weight);
  font-family: var(--font-serif);
}

@utility text-preset-3 {
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-height);
  font-weight: var(--text-preset-3-weight);
  font-family: var(--font-sans);
}

@utility text-preset-4 {
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-height);
  font-weight: var(--text-preset-4-weight);
  font-family: var(--font-sans);
}

@utility text-preset-5 {
  font-size: var(--text-preset-5-size);
  line-height: var(--text-preset-5-height);
  font-family: var(--font-sans);
}

@utility text-preset-6 {
  font-size: var(--text-preset-6-size);
  line-height: var(--text-preset-6-height);
  font-weight: var(--text-preset-6-weight);
  font-family: var(--font-sans);
}

@utility text-preset-7 {
  font-size: var(--text-preset-7-size);
  line-height: var(--text-preset-7-height);
  font-weight: var(--text-preset-7-weight);
  font-family: var(--font-sans);
}

@utility text-preset-8 {
  font-size: var(--text-preset-8-size);
  line-height: var(--text-preset-8-height);
  font-weight: var(--text-preset-8-weight);
  font-family: var(--font-sans);
}

@utility focus-white {
  outline: 2px solid var(--neutral-000);
  outline-offset: 3px;
}

@utility focus-blue {
  outline: 2px solid var(--blue-500);
  outline-offset: 3px;
}

@utility focus-dropdown-btn {
  outline: 1px solid var(--neutral-000);
  outline-offset: 1px;
  background-color: var(--neutral-700);
}

@utility dark-focus-dropdown-btn {
  outline: 1px solid var(--neutral-300);
  outline-offset: 1px;
  background-color: #e5e7eb;
}
@utility theme-day {
  background-image: linear-gradient(
    to right,
    var(--day-bg-start),
    var(--day-bg-end),
    var(--day-bg-start)
  );
  animation: var(--animate-dayGradient);
}

@utility theme-night {
  background-image: linear-gradient(
    to left,
    var(--night-bg-start),
    var(--night-bg-end),
    var(--night-bg-start)
  );
  animation: var(--animate-nightGradient);
}

@layer components {
  .layout {
    @apply flex flex-col items-center gap-12 xl:gap-16 p-4 md:p-6 xl:px-28 xl:py-12 bg-(--neutral-900) min-h-screen text-white;
  }

  /* HEADER */
  .settings_dropdown {
    @apply bg-(--neutral-800) not-dark:bg-gray-100 drop-shadow-lg not-dark:drop-shadow-gray-400 not-dark:text-(--neutral-900) hover:bg-(--neutral-700) py-2 px-2.5 rounded-md text-preset-8 sm:text-preset-7 flex items-center gap-2 capitalize focus-visible:focus-white not-dark:hover:bg-gray-100;
  }

  .switch_btn {
    @apply py-2.5 px-2 rounded-lg hover:bg-(--neutral-700) not-dark:hover:bg-gray-200 text-preset-7 w-full focus-visible:focus-dropdown-btn not-dark:focus-visible:dark-focus-dropdown-btn text-left;
  }

  .dropdownMenu {
    @apply absolute right-0 mt-2.5 bg-(--neutral-800) outline-(--neutral-600) outline-1 rounded-xl text-nowrap py-1.5 px-2 space-y-1 min-w-56 w-full z-20 not-dark:bg-gray-50 not-dark:outline-gray-200 not-dark:text-(--neutral-900) drop-shadow-md not-dark:drop-shadow-black;
  }

  hr {
    @apply border border-(--neutral-600);
  }

  legend {
    @apply text-preset-8 text-(--neutral-300) not-dark:text-(--neutral-600) px-2 pt-1.5;
  }

  fieldset {
    @apply space-y-2;
  }
  .unit_options {
    @apply space-y-1;
  }
  .unit_options button {
    @apply text-preset-7 py-2.5 px-2 flex gap-2.5 justify-between text-(--neutral-000) rounded-lg w-full hover:bg-(--neutral-700) focus-visible:focus-dropdown-btn not-dark:focus-visible:dark-focus-dropdown-btn not-dark:text-(--neutral-900) not-dark:hover:bg-gray-200;
  }
  .active {
    @apply bg-(--neutral-700) not-dark:bg-gray-200;
  }

  /* BUTTON */
  .primary_btn {
    @apply bg-(--blue-500) hover:bg-(--blue-700) rounded-xl p-4 text-preset-5 font-medium focus-visible:focus-blue;
  }

  /* SEARCH BAR */
  .searchBar {
    @apply bg-(--neutral-800) hover:bg-(--neutral-700) text-(--neutral-200) w-full rounded-xl py-4 pl-[3.75rem] focus-visible:focus-white not-dark:bg-white not-dark:hover:bg-gray-50 not-dark:placeholder:text-(--neutral-700) not-dark:text-(--neutral-900) drop-shadow-lg not-dark:drop-shadow-gray-400;
    background-image: url("./assets/images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 20px;
  }

  /* WEATHER INFO */
  .weather_info {
    @apply w-full bg-no-repeat rounded-[1.25rem] flex flex-col md:flex-row gap-4 items-center justify-between px-6 py-10 md:py-[5.125rem] min-h-[17.875rem] drop-shadow-lg not-dark:drop-shadow-gray-400;
  }
  .location_info {
    @apply space-y-3 text-center md:text-left;
  }
  .temp_container {
    @apply flex items-center gap-5;
  }
  .temp_icon {
    @apply h-auto w-24 sm:w-[7.5rem];
  }
  .temp {
    @apply text-preset-1;
  }

  /* WEATHER DETAILS */
  .weather_details {
    @apply grid grid-cols-2 md:grid-cols-4 gap-4;
  }
  .detail {
    @apply bg-(--neutral-800) text-(--neutral-000) outline-(--neutral-600) outline-1 p-5 rounded-xl space-y-6 not-dark:bg-white not-dark:outline-gray-200 drop-shadow-lg not-dark:drop-shadow-gray-400;
  }

  /* DAILY FORECAST */
  .daily_icon {
    @apply w-[3.75rem] h-auto not-dark:bg-(--neutral-900)/80 rounded-full;
  }
  .forecast {
    @apply min-h-[10.3125rem] bg-(--neutral-800) outline-(--neutral-600) outline-1 px-2.5 py-4 rounded-xl gap-4 flex flex-col items-center not-dark:bg-white not-dark:outline-gray-200 not-dark:text-(--neutral-900) drop-shadow-lg not-dark:drop-shadow-gray-400;
  }
  .temp_range {
    @apply flex justify-between text-preset-7 w-full;
  }

  /* HOURLY FORECAST */
  .days_dropdown {
    @apply capitalize flex items-center text-preset-7 bg-(--neutral-600) hover:bg-(--neutral-700) rounded-lg py-2 px-4 gap-3 focus-visible:focus-white not-dark:bg-gray-100 not-dark:outline-gray-200 not-dark:text-(--neutral-900) not-dark:hover:bg-gray-200 drop-shadow-lg not-dark:drop-shadow-gray-400;
  }
  .day_button {
    @apply py-2.5 px-2 w-full text-left hover:bg-(--neutral-600) not-dark:hover:bg-gray-200 rounded-lg capitalize;
  }
  .hour_card {
    @apply min-h-[3.75rem] bg-(--neutral-700) flex gap-2 justify-between items-center py-3 px-2.5 rounded-lg outline-(--neutral-600) outline-1 not-dark:bg-gray-100 not-dark:outline-gray-200 not-dark:text-(--neutral-900) drop-shadow-lg not-dark:drop-shadow-gray-400 mx-2;
  }
  .hour_icon {
    @apply w-10 h-auto not-dark:bg-(--neutral-900)/80 rounded-full;
  }
  .scrollable_container {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollable_container::-webkit-scrollbar {
    display: none;
  }
}
